body{
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.regis{
    width:250px;
    margin: 250px auto;
    background-color: rgba(0,0,0,.5);
    color: white;
    padding: 10px 20px 30px;
    font-size: 15px;
    border-radius: 15px;
}
.regis h3 {
    color: blue;
    text-align: center;
}
.regis .textl{
    display: block;
}
.input input{
    width: 100%;
    font-size: 1.2em;
    border: 1px solid chocolate;
    box-shadow: 2px;
    border-radius: 8px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 10px 0 10px;
}
input:focus{
    background-color: aqua;
}
.btn{
    text-align: center;
}
button{
     background-color: blue;
     font-size: 15px;
     color: white;
     margin-top: 10px;
     border-radius: 7px;
     padding: 10px 20px;
     box-shadow: 2px;
}
.radio input{
    accent-color:red;
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}